html,
body {
  height: 300px;
  width: 380px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
  padding-bottom: 2em !important;
  padding-top: 2em !important;
  background: linear-gradient(45deg, #c022ea, #664ee5);
  /* position: fixed; */
  transition: 0.2s;
}

.jumbotron p {
  font-weight: 400;
  font-size: 2em;
  transition: 0.2s;
  height: auto;
}

img {
  transition: 0.2s;
}

/* #tab1body {
    padding-top: 250px;
} */

.rounded-bottom-5 {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
  height: 100px;
}
.nav-item {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.nav-item:hover {
  opacity: 0.4;
}
.h1,
h1 {
  font-size: 2rem;
}
.btn {
  width: 100px;
  margin-bottom: 10px;
}

.input button,
input {
  height: 25px;
  width: 64px;
  overflow: visible;
  margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
  position: fixed;
  top: 105px;
  right: 160px;
  z-index: 5;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
/* shining affect css */

/*        sheen effect      */
/*This is the base aniamtion*/
.bg-dark:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -100%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-2em, 3em);
}
/*This activates the sheen once the button has been hovered*/
.bg-dark::after {
  animation: sheen 4s ease infinite;
}
@keyframes sheen {
  30% {
    transform: rotateZ(60deg) translate(5em, -200em);
  }
  100% {
    transform: rotateZ(60deg) translate(5em, -200em);
  }
}
/* ------------------ */

h4 {
  padding: 2rem 1rem;
}
section {
  text-align: center;
}
.row .buttons {
  margin: 0px 0px;
}
input.col-5 {
  padding: 0px 0px;
  /* width: 50px; */
  /* max-width: 151px; */
}
h6#time {
  padding: 0px 12px;
  /* max-width: 200px; */
  border: 1px solid black;
}
.notActive.time-section {
  filter: brightness(0) invert(1);
}

.time-section {
  border-bottom: 1px solid purple;
  margin-bottom: 20px;
}
h4.col-5 {
  margin: 1rem 5px;
  /* margin-right: 0px; */
  display: inline-block;
  padding: 0px 1rem;
}
#time-left {
  border-top: 1px solid purple;
}
.disabled-time {
  display: none;
}
.time-left {
  display: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
  position: fixed;
  top: 5px;
  left: 5px;
}